
.cart-cta-buttons-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  @media (max-width: 500px){
    flex-direction: column;
  }
}

.cart-delete{
  border: 2px solid #888;
  border-radius: 3px;
  padding: 10px 5px;
  margin-left: 10px;

  &:hover{
    border-color: #aaa;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.15);
  }
}
