.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

body {
  padding-top: 175px;
  font-family: Rubik, sans-serif;
  color: #5e5855;
  font-size: 1rem;
  line-height: 1.429;
  font-weight: 400;
  letter-spacing: 0.25px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Now, sans-serif;
  font-size: 3.429rem;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: 0px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Now, sans-serif;
  font-size: 2.429rem;
  line-height: 1.05;
  font-weight: 500;
  letter-spacing: 0px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Now, sans-serif;
  font-size: 1.714rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.18px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  line-height: 1.1;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

a {
  color: #5e5855;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.page-section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e7e7e7;
}

.page-section.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom-style: none;
  background-color: #80a647;
  font-size: 0.875rem;
}

.page-section.footer-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #6c8c3c;
}

.page-section.social-bar {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 1px solid #e7e7e7;
}

.page-section.banner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-section.blue-gradient {
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#91d2e6), color-stop(98%, #fff));
  background-image: linear-gradient(180deg, #91d2e6, #fff 98%);
}

.page-section.pt-0 {
  padding-top: 0px;
}

.custom-css {
  display: none;
}

.lead-text {
  font-size: 1.143rem;
  letter-spacing: 0.5px;
}

.button {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #80a647;
  -webkit-transition: background-color 100ms ease, color 100ms ease, -webkit-transform 100ms ease;
  transition: background-color 100ms ease, color 100ms ease, -webkit-transform 100ms ease;
  transition: transform 100ms ease, background-color 100ms ease, color 100ms ease;
  transition: transform 100ms ease, background-color 100ms ease, color 100ms ease, -webkit-transform 100ms ease;
  font-family: Rubik, sans-serif;
  color: #fff;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #6c8c3c;
  text-decoration: none;
}

.button:active {
  -webkit-transform: translate(0px, 3px);
  -ms-transform: translate(0px, 3px);
  transform: translate(0px, 3px);
}

.button.secondary {
  background-color: transparent;
  box-shadow: inset 0 0 0 1.5px #80a647;
  -webkit-transition: box-shadow 200ms ease, color 100ms ease, -webkit-transform 100ms ease;
  transition: box-shadow 200ms ease, color 100ms ease, -webkit-transform 100ms ease;
  transition: box-shadow 200ms ease, transform 100ms ease, color 100ms ease;
  transition: box-shadow 200ms ease, transform 100ms ease, color 100ms ease, -webkit-transform 100ms ease;
  color: #80a647;
}

.button.secondary:hover {
  box-shadow: inset 0 0 0 2.5px #6c8c3c;
  color: #6c8c3c;
}

.button.blue {
  background-color: #003c6e;
}

.button.blue:hover {
  background-color: #1a689e;
}

.button.blue.secondary {
  background-color: transparent;
  box-shadow: inset 0 0 0 1.5px #003c6e;
  color: #003c6e;
}

.button.blue.secondary:hover {
  box-shadow: inset 0 0 0 2.5px #003c6e;
}

.button.blue.mr-10 {
  margin-right: 10px;
}

.button.orange {
  background-color: #f8931f;
}

.button.orange:hover {
  background-color: #fab525;
}

.button.icon {
  position: relative;
  padding-left: 60px;
}

.button-icon {
  position: absolute;
  left: 25px;
  top: 50%;
  bottom: auto;
  width: 24px;
  height: 24px;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.footer {
  color: hsla(0, 0%, 100%, 0.87);
}

.medium {
  font-weight: 500;
}

.footer-inline-link {
  display: inline-block;
  color: hsla(0, 0%, 100%, 0.87);
  font-size: 0.625rem;
  line-height: 1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.footer-inline-link.dark {
  color: rgba(0, 0, 0, 0.87);
}

.footer-inline-link-divider {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 0.625rem;
  line-height: 1;
}

.footer-column.last {
  margin-left: 20%;
}

.footer-heading {
  margin-bottom: 17px;
  font-size: 0.875rem;
  font-weight: 500;
}

.footer-link {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.87);
}

.social-icon {
  display: inline-block;
  padding: 16px;
  border-left: 1px solid #e7e7e7;
  opacity: 0.25;
  -webkit-transition: opacity 100ms ease;
  transition: opacity 100ms ease;
  color: #000;
}

.social-icon:hover {
  opacity: 0.5;
}

.social-icon.last {
  border-right: 1px solid #e7e7e7;
}

.text-field {
  height: 48px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  border: 1px none #000;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: inset 0 0 0 1.5px #5e5855;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #5e5855;
}

.text-field:hover {
  box-shadow: inset 0 0 0 2.5px #5e5855;
}

.text-field:focus {
  box-shadow: inset 0 0 0 2.5px #5e5855;
}

.text-field::-webkit-input-placeholder {
  color: #b4b4b4;
}

.text-field:-ms-input-placeholder {
  color: #b4b4b4;
}

.text-field::-ms-input-placeholder {
  color: #b4b4b4;
}

.text-field::placeholder {
  color: #b4b4b4;
}

.text-field.area {
  max-width: 100%;
  min-height: 150px;
  min-width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
}

.text-field.select.width-24 {
  -webkit-flex-basis: 24%;
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
}

.text-field.select.item {
  width: 213px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.text-field.select.cart {
  width: 70px;
  margin-left: 10px;
}

.text-field.select.mb-10 {
  margin-bottom: 10px;
}

.text-field.select.mb-0 {
  margin-bottom: 0px;
}

.text-field.select.inline.mxy-10 {
  margin-right: 10px;
  margin-bottom: 10px;
}

.text-field.mb-0 {
  margin-bottom: 0px;
}

.text-field.grow {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.text-field.inline {
  display: inline-block;
  width: auto;
  margin-bottom: 0px;
}

.text-field.inline.short {
  width: 60px;
}

.navbar-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  padding: 28px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.nav-link {
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 20px 35px;
  border-bottom: 4px solid transparent;
  color: #5e5855;
  font-weight: 400;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 4px solid #5e5855;
  text-decoration: none;
}

.nav-link.w--current {
  border-bottom-color: #5e5855;
  color: #5e5855;
  font-weight: 500;
}

.nav-link.promise {
  position: relative;
  padding-left: 70px;
}

.nav-link.promise:hover {
  border-bottom-color: transparent;
}

.nav-link.current {
  border-bottom-color: #5e5855;
  font-weight: 500;
}

.brand {
  max-height: 100%;
}

.form-search {
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.search-bar {
  margin-bottom: 0px;
  border-radius: 0px;
  box-shadow: inset 0 0 0 1.5px #80a647;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-size: 0.857rem;
  line-height: 1.2;
  font-weight: 500;
}

.search-bar:hover {
  box-shadow: inset 0 0 0 2.5px #80a647;
}

.search-bar::-webkit-input-placeholder {
  color: #80a647;
  font-size: 0.75rem;
}

.search-bar:-ms-input-placeholder {
  color: #80a647;
  font-size: 0.75rem;
}

.search-bar::-ms-input-placeholder {
  color: #80a647;
  font-size: 0.75rem;
}

.search-bar::placeholder {
  color: #80a647;
  font-size: 0.75rem;
}

.search-bar-wrapper {
  position: relative;
}

.icon-nav {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.search-icon {
  position: absolute;
  left: auto;
  top: 50%;
  right: 10px;
  bottom: auto;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1500;
  background-color: #fff;
}

.field-label {
  margin-bottom: 11px;
  font-family: Now, sans-serif;
  font-size: 1.714rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.18px;
}

.menu-button {
  position: relative;
  float: none;
}

.back-img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.home-banner-content {
  padding-top: 25vw;
  text-align: center;
}

.mobile-menu-bar {
  display: none;
}

.footer-bar-content {
  float: right;
}

.burger {
  position: relative;
  height: 20px;
}

.line {
  position: absolute;
  left: 0%;
  top: 50%;
  right: 0%;
  bottom: auto;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.line.top {
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.line.mid {
  width: 60%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.line.bot {
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

.mx-10 {
  margin-right: 10px;
  margin-left: 10px;
}

.footer-top-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.overline-text {
  color: #b4b4b4;
  font-size: 0.714rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.overline-text.pull-up {
  margin-top: -8px;
  margin-bottom: 10px;
}

.mb-40 {
  margin-bottom: 40px;
}

.heading-wrapper {
  max-width: 70%;
}

.mb-60 {
  margin-bottom: 60px;
}

.checkbox {
  width: 25px;
  height: 25px;
  margin-top: -2px;
  margin-left: -35px;
  border-width: 2px;
  border-color: #5e5855;
  border-radius: 0px;
}

.checkbox.w--redirected-checked {
  border-width: 2px;
  border-color: #5e5855;
  background-color: transparent;
  background-image: url('../images/path.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.checkbox-field {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 35px;
}

.checkbox-field.mb-0 {
  margin-right: 0px;
  margin-bottom: 0px;
}

.checkbox-label {
  margin-bottom: 0px;
}

.mb-20 {
  margin-bottom: 20px;
}

.swiper-wrapper {
  padding-bottom: 60px;
}

.pricing-item {
  padding: 20px;
  border-radius: 5px;
  background-color: #e7e7e7;
}

.center {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.flex.center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex.no-wrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex.top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.payment-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.payment-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.inline-text {
  display: inline-block;
}

.terms-lang {
  display: inline-block;
  padding: 10px;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: #5e5855;
  text-decoration: none;
}

.terms-lang.w--current {
  border-bottom: 2px solid #6c8c3c;
  background-color: transparent;
  color: #6c8c3c;
}

.terms-lang.active {
  border-bottom-color: #5e5855;
  font-weight: 500;
}

.shop-content {
  padding-top: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.shop-content.pt-0 {
  padding-top: 0px;
}

.logo-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
  -o-object-fit: cover;
  object-fit: cover;
}

.logo-img.pull-up {
  margin-top: -80px;
}

.flex-child-32 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
}

.potw-name {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 10px 20px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  color: #5e5855;
  text-decoration: none;
}

.potw-like {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px;
  background-color: #fff;
}

.flex-child-24 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24%;
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
}

.flex-child-24.center {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.potw-item {
  position: relative;
  margin-bottom: 13px;
  padding-top: 79%;
}

.jumbo {
  font-size: 4.286rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.frog-img {
  position: absolute;
  left: auto;
  top: 80px;
  right: 0%;
  bottom: auto;
  display: block;
  width: 60vw;
  max-height: 700px;
  max-width: 929px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 100% 50%;
  object-position: 100% 50%;
}

._40-wrapper {
  width: 40%;
}

.orange-heart {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.payment-left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 250px;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
  text-align: left;
}

.payment-wrapper {
  width: 500px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.shop-banner-img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
}

.shop-filter {
  position: -webkit-sticky;
  position: sticky;
  top: 210px;
  margin-right: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 230px;
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
}

.shop-filter.popup-mobile {
  margin-top: 180px;
}

.shop-filter.popup-mobile.mt-20 {
  margin-top: 20px;
}

.shop-filter.popup-mobile.mt-40 {
  margin-top: 40px;
}

.shop-img-link {
  position: relative;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  color: #5e5855;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.shop-img-link.floating {
  position: absolute;
  left: 0%;
  top: 50%;
  right: 0%;
  bottom: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.shop-img-link.grab {
  cursor: -webkit-grab;
  cursor: grab;
}

.new-img-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 90.6%, 0.6);
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.mb-10 {
  margin-bottom: 10px;
}

.shop-delete {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px;
  background-color: #fff;
}

.tabs-menu {
  margin-bottom: 10px;
}

.tabs-menu.inline {
  position: absolute;
  left: auto;
  top: -60px;
  right: 0%;
  bottom: auto;
}

.sign-in-popup {
  position: absolute;
  left: 0%;
  top: 50%;
  right: 0%;
  bottom: auto;
  width: 550px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 30px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.tab-menu-register {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tab-register {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 48%;
  -ms-flex: 0 48%;
  flex: 0 48%;
}

.tab-register.w--current {
  background-color: #80a647;
}

.form-info {
  font-family: Rubik, sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
}

.sell {
  margin-top: 50px;
  padding: 15px;
  background-color: #e7e7e7;
  text-align: center;
}

.img-how-it-works {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.page-section-alert {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8931f;
  color: #fff;
  text-align: center;
}

.select-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
}

.popup-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2000;
  display: none;
}

.popup-wrapper.register {
  display: none;
}

.popup-wrapper.sign-in {
  display: none;
}

.overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(94, 88, 85, 0.8);
}

.how-it-works-wrapper {
  position: relative;
  margin-bottom: 20px;
  padding-top: 100%;
}

.white-link {
  color: #fff;
}

.order-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 90.6%, 0.29);
}

.date-row {
  -webkit-box-flex: 0;
  -webkit-flex: 0 100px;
  -ms-flex: 0 100px;
  flex: 0 100px;
}

.id-row {
  -webkit-box-flex: 0;
  -webkit-flex: 0 120px;
  -ms-flex: 0 120px;
  flex: 0 120px;
}

.state-row {
  -webkit-box-flex: 0;
  -webkit-flex: 0 150px;
  -ms-flex: 0 150px;
  flex: 0 150px;
}

.price-row {
  -webkit-box-flex: 0;
  -webkit-flex: 0 100px;
  -ms-flex: 0 100px;
  flex: 0 100px;
  font-weight: 700;
  text-align: right;
}

.button-row {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.nav-link-shop {
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 20px 35px;
  border-bottom: 4px solid transparent;
  color: #5e5855;
  font-weight: 400;
  text-decoration: none;
}

.nav-link-shop:hover {
  border-bottom: 4px solid #5e5855;
}

.nav-link-shop.w--current {
  border-bottom-color: #5e5855;
  color: #5e5855;
  font-weight: 500;
}

.nav-link-shop.current {
  border-bottom-color: #5e5855;
  font-weight: 500;
}

.nav-area {
  border-bottom: 1px solid #e7e7e7;
}

.nav-area.seller-item-detail {
  margin-bottom: 60px;
}

.tab-link-shop {
  display: block;
  margin-bottom: 10px;
  padding: 10px 22px;
  border-left: 3px solid transparent;
  background-color: transparent;
  color: #5e5855;
  font-weight: 400;
  text-decoration: none;
}

.tab-link-shop:hover {
  border-left-color: #5e5855;
  text-decoration: none;
}

.tab-link-shop.w--current {
  border-left-color: #80a647;
  background-color: transparent;
  color: #80a647;
}

.tab-link-shop.current {
  border-left-color: #5e5855;
  font-weight: 500;
}

.by-seller {
  margin-top: 5px;
  margin-bottom: 25px;
  color: #b1b1b1;
  font-size: 0.714rem;
  line-height: 1.143;
  text-transform: uppercase;
}

.mb-80 {
  margin-bottom: 80px;
}

.shop-select-text {
  margin-top: 30px;
  margin-bottom: 7px;
  font-weight: 500;
}

.shop-select-text.first {
  margin-top: 0px;
}

.pick-up-wrapper {
  margin-top: 34px;
}

.pickup-switch-wrapper {
  display: inline-block;
  width: 43px;
  height: 20px;
  margin-right: 10px;
  padding: 2px 3px;
  float: left;
  border-radius: 20px;
  background-color: hsla(0, 0%, 90.6%, 0.99);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.pickup-switch-wrapper.active {
  background-color: rgba(248, 147, 31, 0.43);
}

.pickup-text {
  float: left;
  font-weight: 500;
}

.switch-switcher {
  width: 16px;
  height: 16px;
  margin-left: 0px;
  border-radius: 50%;
  background-color: #5e5855;
  -webkit-transition: background-color 200ms ease, margin 200ms ease;
  transition: background-color 200ms ease, margin 200ms ease;
}

.shop-product-item {
  position: relative;
  margin-bottom: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24%;
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  box-shadow: 0 0 30px 0 transparent;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #5e5855;
  text-decoration: none;
}

.shop-product-item:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
}

.shop-product-img {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.shop-product-info {
  padding: 10px;
}

.shop-product-price {
  margin-bottom: 20px;
  font-size: 1.143rem;
  font-weight: 700;
}

.item-product-price {
  font-family: Now, sans-serif;
  font-size: 1.714rem;
  line-height: 1.714;
  font-weight: 500;
}

.item-heading {
  margin-top: 0px;
  font-family: Rubik, sans-serif;
  font-size: 1.143rem;
  line-height: 1.714;
  font-weight: 400;
}

.item-additional-info {
  display: inline-block;
  margin-left: 8px;
  font-size: 0.857rem;
}

.inline {
  display: inline-block;
}

.inline.mr-20 {
  margin-right: 20px;
}

.checkout-shop-item-img {
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

.form-block {
  display: inline-block;
}

.subtotal-wrapper {
  margin-top: 40px;
  font-size: 1.143rem;
  text-align: right;
}

.total-wrapper {
  font-size: 1.429rem;
  text-align: right;
}

.checkout-switch-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.checkout-switch-wrapper.mb-40 {
  margin-bottom: 40px;
}

.checkout-switch-text {
  margin-left: 7px;
  font-weight: 500;
}

.flex-child-45 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
}

.product-info-wrapper {
  width: 35%;
  float: right;
}

.product-image-wrapper {
  width: 60%;
  float: left;
}

.logo-floater {
  position: absolute;
  left: 0%;
  top: -100%;
  right: auto;
  bottom: auto;
}

.logo-floater.lower {
  top: -55%;
}

.mt-100 {
  margin-top: 100px;
}

.scroll-x {
  overflow: auto;
  white-space: nowrap;
}

.link {
  font-weight: 400;
}

.breadcrumbs-wrapper {
  display: none;
}

.mobile-title {
  display: none;
}

.mobile-only {
  display: none;
}

.relative {
  position: relative;
}

.pt-20 {
  padding-top: 20px;
}

.shop-list {
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}

.pt-30 {
  padding-top: 30px;
}

.checkout-additional {
  -webkit-box-flex: 0;
  -webkit-flex: 0 500px;
  -ms-flex: 0 500px;
  flex: 0 500px;
}

.searchbar-wrapper {
  position: relative;
  margin-right: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.check-floater {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 10px;
  margin-left: 10px;
  padding: 6px;
  color: #fff;
}

.cross-wrapper {
  position: relative;
  width: 58px;
  height: 58px;
  margin-bottom: 15px;
}

.cross-line {
  position: absolute;
  left: 0%;
  top: 50%;
  right: 0%;
  bottom: auto;
  width: 100%;
  border-bottom: 7px solid #b1b1b1;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.cross-line.rot {
  -webkit-transform: translate(0px, -50%) rotate(90deg);
  -ms-transform: translate(0px, -50%) rotate(90deg);
  transform: translate(0px, -50%) rotate(90deg);
}

.dynamic-content {
  margin-bottom: 20px;
}

.product-add-block {
  margin-bottom: 20px;
  padding: 40px 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
}

.product-context-menu {
  position: absolute;
  left: auto;
  top: 100%;
  right: 0%;
  bottom: auto;
  z-index: 1000;
  display: none;
  padding: 5px 10px;
  background-color: #fff;
}

.product-context-menu.active {
  display: block;
}

.context-link {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.radio-button {
  width: 22px;
  height: 22px;
  margin-top: -2px;
  margin-left: -34px;
  float: left;
  border-style: none;
  box-shadow: inset 0 0 0 2px #5e5855;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.radio-button.w--redirected-checked {
  border-style: none;
  box-shadow: inset 0 0 0 4px #f8931f;
}

.requests-accordion-wrapper {
  margin-top: 20px;
  border-top: 1px solid #e7e7e7;
}

.requests-accordion-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.name-row {
  -webkit-box-flex: 0;
  -webkit-flex: 0 150px;
  -ms-flex: 0 150px;
  flex: 0 150px;
}

.requests-accordion-content {
  overflow: hidden;
}

.requests-accordion-content.closed {
  height: 0px;
}

.requests-accordion-img {
  min-width: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.id-row-requests {
  -webkit-box-flex: 0;
  -webkit-flex: 0 150px;
  -ms-flex: 0 150px;
  flex: 0 150px;
}

.nav-backend {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999999;
  background-color: #fff;
}

.centered-content {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.forgot-pw-link {
  color: #6c8c3c;
  text-decoration: none;
}

.forgot-pw-link:hover {
  text-decoration: none;
}

.analytics-grid-child {
  padding: 25px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 24%;
  -ms-flex: 0 24%;
  flex: 0 24%;
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
  text-align: center;
}

.analytics-grid-child.big {
  text-align: left;
}

.grid-analytics {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.analytics-big-number {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.analytics-heading {
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.inline-link-block {
  display: inline-block;
  padding: 15px;
}

.rotate-270 {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.small-filter-drop {
  display: inline-block;
  margin-right: 10px;
  font-weight: 400;
}

.small-filter-drop.active {
  font-weight: 500;
}

.arrow.flipped {
  -webkit-transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.filter-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.875rem;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
}

.bold {
  font-weight: 700;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1.5px #80a647;
  color: #80a647;
  font-size: 0.857rem;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.tag.pending {
  box-shadow: inset 0 0 0 1.5px #f8931f;
  color: #f8931f;
}

.tag.inactive {
  box-shadow: inset 0 0 0 1.5px #b4b4b4;
  color: #b4b4b4;
}

.tag.error {
  box-shadow: inset 0 0 0 2.5px #b00020;
  color: #b00020;
  font-weight: 700;
}

.tag-spacer {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.clearfix {
  display: none;
}

.promise-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-left: 1px solid #e7e7e7;
  text-align: center;
}

.navlink-wrapper {
  overflow: hidden;
  margin-bottom: -1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  white-space: nowrap;
}

.filter-mobile-block {
  display: none;
}

@media screen and (min-width: 1280px) {
  .nav-menu {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .form-search {
    margin-right: 40px;
    margin-left: 40px;
  }

  .frog-img {
    width: 65vw;
  }

  .date-row {
    -webkit-flex-basis: 140px;
    -ms-flex-preferred-size: 140px;
    flex-basis: 140px;
  }

  .state-row {
    -webkit-flex-basis: 180px;
    -ms-flex-preferred-size: 180px;
    flex-basis: 180px;
  }
}

@media screen and (max-width: 991px) {
  body {
    padding-top: 152px;
  }

  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 1.714rem;
  }

  h3 {
    font-size: 1.429rem;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .page-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .page-section.blue-gradient {
    padding-bottom: 80px;
  }

  .footer-inline-link.dark {
    color: #635b57;
  }

  .text-field.select.width-24 {
    -webkit-flex-basis: 49%;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
  }

  .navbar-top {
    position: relative;
    z-index: 1;
    height: 152px;
    padding-top: 20px;
    padding-bottom: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .nav-menu {
    position: fixed;
    left: 0%;
    top: 151px;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #fff;
    -webkit-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    transform: translate(100%, 0px);
    -webkit-transition: -webkit-transform 200ms cubic-bezier(.165, .84, .44, 1);
    transition: -webkit-transform 200ms cubic-bezier(.165, .84, .44, 1);
    transition: transform 200ms cubic-bezier(.165, .84, .44, 1);
    transition: transform 200ms cubic-bezier(.165, .84, .44, 1), -webkit-transform 200ms cubic-bezier(.165, .84, .44, 1);
  }

  .nav-link {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-left: 4px solid transparent;
    border-bottom-style: none;
  }

  .nav-link:hover {
    border-bottom-style: none;
    border-left-color: #5e5855;
  }

  .nav-link.w--current {
    border-left: 3px solid #5e5855;
    border-bottom-style: none;
  }

  .nav-link.current {
    border-left-color: #5e5855;
  }

  .brand {
    max-width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .form-search {
    height: 70px;
    margin-right: 0px;
    margin-left: -20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .search-bar {
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid solid solid none;
    border-width: 1px;
    border-color: #e7e7e7;
    box-shadow: inset 0 0 0 0 transparent;
  }

  .search-bar:hover {
    box-shadow: none;
  }

  .search-bar-wrapper {
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-style: none;
  }

  .right-icon-nav {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
  }

  .menu-button {
    height: 70px;
    margin-right: -20px;
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70px;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
  }

  .menu-button.w--open {
    background-color: #fff;
  }

  .mobile-menu-bar {
    display: block;
    margin-right: -20px;
    margin-left: -20px;
    padding-top: 17px;
    padding-right: 40px;
    padding-left: 40px;
    border-top: 1px solid #e7e7e7;
  }

  .burger {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    width: 20px;
    height: 16px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .line {
    border-bottom-width: 2px;
    border-bottom-color: #5e5855;
  }

  .line.top {
    -webkit-transform: translate(0px, -7px);
    -ms-transform: translate(0px, -7px);
    transform: translate(0px, -7px);
  }

  .line.mid {
    width: 70%;
  }

  .line.bot {
    -webkit-transform: translate(0px, 7px);
    -ms-transform: translate(0px, 7px);
    transform: translate(0px, 7px);
  }

  .brand-wrapper {
    margin-bottom: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 165px;
    -ms-flex: 0 165px;
    flex: 0 165px;
  }

  .shop-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .flex-child-32 {
    -webkit-flex-basis: 49%;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
  }

  .flex-child-24 {
    -webkit-flex-basis: 32%;
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
  }

  .flex-child-24.center {
    margin-bottom: 20px;
  }

  .jumbo {
    font-size: 3.286rem;
  }

  .frog-img {
    position: static;
    width: 100%;
  }

  ._40-wrapper {
    width: auto;
  }

  .shop-filter {
    margin-right: 20px;
  }

  .tabs-menu.inline {
    position: static;
  }

  .date-row {
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
  }

  .id-row {
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
  }

  .state-row {
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
  }

  .price-row {
    margin-top: 26px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .button-row {
    margin-top: 10px;
  }

  .nav-link-shop {
    padding: 19px 20px 16px;
  }

  .nav-link-shop:hover {
    border-bottom-color: transparent;
  }

  .nav-link-shop.w--current {
    border-left: 3px solid #5e5855;
    border-bottom-style: none;
  }

  .shop-product-item {
    -webkit-flex-basis: 49%;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
  }

  .flex-child-45 {
    -webkit-flex-basis: 48%;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }

  .mobile-only {
    display: none;
  }

  .checkout-additional {
    padding-right: 28px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .product-add-block {
    padding: 10px 20px;
  }

  .name-row {
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
  }

  .id-row-requests {
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
  }

  .grid-analytics {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .sort-bar {
    margin-bottom: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .frog-wrapper {
    margin-top: -108px;
    margin-right: -20px;
    margin-left: 156px;
  }

  .clearfix {
    display: block;
    height: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .promise-wrapper {
    margin: 20px -20px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-top: 1px solid #e7e7e7;
    border-left-style: none;
    text-align: left;
  }

  .navlink-wrapper {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 147px;
  }

  h1 {
    font-size: 1.714rem;
  }

  h2 {
    font-size: 1.429rem;
  }

  h3 {
    font-size: 1.286rem;
  }

  .page-section.pt-0 {
    padding-top: 20px;
  }

  .button.icon.orange.block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .button.mx-10 {
    margin-bottom: 10px;
  }

  .button.gray {
    background-color: #b4b4b4;
  }

  .button.gray:hover {
    background-color: #b1b1b1;
  }

  .button-icon {
    margin-right: 10px;
  }

  .button-icon.static {
    position: static;
    margin-top: -2px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .button-icon.filter {
    left: auto;
    top: 50%;
    right: 0%;
    bottom: 0%;
    margin-right: 3px;
  }

  .footer-column {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .footer-column.last {
    margin-right: 0px;
    margin-left: 0px;
  }

  .social-icon {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .navbar-top {
    height: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .nav-menu {
    top: 146px;
  }

  .nav-link.promise:hover {
    border-left-color: transparent;
  }

  .brand-wrapper {
    -webkit-flex-basis: 150px;
    -ms-flex-preferred-size: 150px;
    flex-basis: 150px;
  }

  .social-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-right: -20px;
    margin-left: -20px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-top: 1px solid #e7e7e7;
  }

  .footer-top-flex {
    display: block;
    margin-top: 20px;
    text-align: center;
  }

  .footer-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .overline-text {
    display: inline-block;
  }

  .overline-text.divider {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }

  .heading-wrapper {
    max-width: 100%;
  }

  .flex.no-wrap {
    display: block;
  }

  .shop-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .logo-img {
    display: block;
    width: 140px;
    height: 140px;
    margin-right: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .flex-child-32 {
    -webkit-flex-basis: 49%;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
  }

  .potw-name {
    max-width: 100%;
  }

  .flex-child-24 {
    -webkit-flex-basis: 49%;
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
  }

  .jumbo {
    font-size: 2.286rem;
  }

  .frog-img {
    width: 100%;
  }

  .payment-wrapper {
    width: auto;
  }

  .shop-banner-img {
    height: 250px;
  }

  .shop-filter {
    position: static;
    margin-right: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .shop-filter.popup-mobile {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 2000;
    display: block;
    max-height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 60px 20px 20px;
    background-color: #fff;
    box-shadow: 0 0 11px 0 #e7e7e7;
    -webkit-transform: translate(0px, 110%);
    -ms-transform: translate(0px, 110%);
    transform: translate(0px, 110%);
    -webkit-transition: -webkit-transform 200ms cubic-bezier(.165, .84, .44, 1);
    transition: -webkit-transform 200ms cubic-bezier(.165, .84, .44, 1);
    transition: transform 200ms cubic-bezier(.165, .84, .44, 1);
    transition: transform 200ms cubic-bezier(.165, .84, .44, 1), -webkit-transform 200ms cubic-bezier(.165, .84, .44, 1);
  }

  .shop-filter.popup-mobile.active {
    -webkit-transform: translate(0px, 0%);
    -ms-transform: translate(0px, 0%);
    transform: translate(0px, 0%);
  }

  .shop-filter.popup-mobile.mt-40 {
    margin-top: 0px;
  }

  .sign-in-popup {
    width: auto;
  }

  .scroll-y {
    overflow: auto;
    max-height: 60vh;
    padding-right: 10px;
  }

  .nav-link-shop {
    font-size: 0.857rem;
  }

  .tab-link-shop {
    display: inline-block;
    border-bottom: 4px solid transparent;
    border-left-style: none;
  }

  .tab-link-shop.current {
    border-bottom-color: #5e5855;
  }

  .checkout-shop-item-img {
    width: 110px;
    height: 110px;
  }

  .total-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .product-info-wrapper {
    width: auto;
    float: none;
  }

  .product-image-wrapper {
    width: auto;
    float: none;
  }

  .logo-floater {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }

  .hide-mobile {
    display: none;
  }

  .breadcrumbs-wrapper {
    display: block;
    margin-bottom: 20px;
  }

  .mobile-title {
    display: block;
  }

  .mobile-only {
    display: block;
  }

  .checkout-additional {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .product-add-block {
    padding: 0px;
    border-style: none;
  }

  .requests-accordion-heading {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .tag.filter {
    position: relative;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-right: 31px;
  }

  .frog-wrapper {
    margin-left: 56px;
  }

  .clearfix {
    height: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .filter-mobile-block {
    display: block;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e7e7e7;
  }
}

@media screen and (max-width: 479px) {
  body {
    padding-top: 146px;
  }

  .page-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-section.blue-gradient {
    padding-bottom: 60px;
  }

  .page-section.pt-0 {
    padding-top: 60px;
  }

  .button.blue.mr-10 {
    margin-bottom: 10px;
  }

  .text-block {
    display: inline-block;
  }

  .footer-inline-link-divider {
    margin-right: 10px;
    margin-left: 10px;
  }

  .text-field {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .text-field.select.width-24 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .nav-menu {
    top: 144px;
  }

  .brand {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .right-icon-nav {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .burger {
    width: 25px;
  }

  .brand-wrapper {
    -webkit-flex-basis: 145px;
    -ms-flex-preferred-size: 145px;
    flex-basis: 145px;
  }

  .payment-item {
    display: block;
    margin-bottom: 25px;
  }

  .terms-lang {
    display: inline-block;
  }

  .shop-content {
    padding-top: 20px;
  }

  .logo-img {
    width: 110px;
    height: 110px;
  }

  .flex-child-32 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .flex-child-24 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .payment-left {
    margin-bottom: 10px;
  }

  .shop-img-link {
    height: auto;
    margin-right: 0px;
    padding-top: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .select-wrapper {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .date-row {
    margin-bottom: 10px;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .id-row {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .state-row {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .state-row.big {
    margin-top: 10px;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .price-row {
    margin-top: 0px;
  }

  .by-seller {
    margin-bottom: 15px;
  }

  .shop-product-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .shop-product-img {
    padding-bottom: 66%;
  }

  .shop-product-price {
    margin-bottom: 10px;
  }

  .checkout-shop-item-img {
    width: 100px;
    height: 100px;
  }

  .flex-child-45 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .checkout-additional {
    padding-right: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }

  .checkout-product-info {
    margin-top: -15px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .searchbar-wrapper {
    margin-right: 0px;
    margin-bottom: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .requests-accordion-heading {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .name-row {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .requests-accordion-img {
    margin-top: 10px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  .id-row-requests {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: right;
  }

  .grid-analytics {
    grid-column-gap: 16px;
  }

  .inline-link-block {
    display: none;
  }

  .checkbow-row {
    margin-bottom: 10px;
  }

  .frog-wrapper {
    margin-top: -57px;
    margin-left: -44px;
  }
}

#w-node-_74d0df4c-9a57-82d9-6e6b-bfe052f1bab5-756f9859 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_1e448532-0daa-3e47-7910-f031cbf3076f-756f9859 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_21bfa7d8-482b-a370-9e68-64dddc2cd772-756f9859 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 991px) {
  #w-node-_582a3968-306a-3495-868c-0b1e862e33cf-756f9859 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_582a3968-306a-3495-868c-0b1e862e33cf-756f9859 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_01cf248b-92aa-2e79-423c-f5048822d4fa-756f9859 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@font-face {
  font-family: 'Now';
  src: url('../fonts/Now-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Now';
  src: url('../fonts/Now-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}