/* Globaler Style */
html {
  font-size: 0.875rem;
}
.potw-like.active .orange-heart {
  opacity: 1;
}
.pickup-switch-wrapper.active .switch-switcher {
  margin-left: auto;
  background-color: #f8931f;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-space-between {
    justify-content: space-between;
}
/* Container padden in dem Bereich wo er zu groß sein würde (zw. Desktop u. Tablet, max-w +20px) */
@media only screen and (min-width: 991px) and (max-width: 1220px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.order-item:nth-child(even) {
  background-color: transparent;
}

.d-flex {
    display: flex;
}
.align-item-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
}