html {
  scroll-behavior: smooth;
}

:root {
  --primary: #80a647;
  --secondary: #003c6e;

  --primary-active: #6c8c3c;
  --secondary-active: #1a689e;

  --background: #d5d5d5;
  --border: #e7e7e7;
  --text: #555;
  --dark: #5e5855;

  --green: #cee741;
  --white: #fff;

  --error: #fb7f7f;
  --input-error: #b00020;
}

