a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.button.blue-2:hover{
  background-color: var(--secondary);
}

.green-2{
  background-color: var(--primary);
}

.button.green-2{
  background-color: var(--primary);
}

.button {
  padding: 20px 30px;
}

.cursor {
  cursor: pointer;
}

.no-select{
  user-select: none;
}

.scale-2x {
  transform: scale(2);
}

.checkbox-field{
  /* display: flex;
  align-items: center;
  gap: 10px; */
}

.right-icon-nav {
  justify-content: flex-end;
}

.right-icon-nav{
  display: auto;
}

.icon-nav{
  margin-top: 6px;
}

.checkbox{
  margin-top: 0;
  height: 20px;
  width: 20px;
}

.checkbox-label{
  padding-top: 2px;
}

.checkbox-error {
  border-color: var(--input-error);
  color: var(--input-error);
}

.remove-border {
  border: 0;
}

.popup-wrapper {
  display: initial;
  overflow-y: scroll;
}

.popup-wrapper.sign-in {
  display: initial;
  opacity: 1;
}

.popup-wrapper.register {
  display: initial;
  opacity: 1;
}

.button {
  cursor: pointer;
}

.hidden-input {
  display: none;
}

.tabs-menu {
  cursor: pointer;
}

.footer-inline-link-divider{
  color: var(--text);
}

select {
  appearance: none;
  background-image: url("/icons/arrow-down.svg");
  background-position-x: 94%;
  background-position-y: 45%;

  background-repeat: no-repeat;
}

a{
  font-weight: initial;
}

.tab-link-shop,
.nav-link-shop {
  cursor: pointer;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 0;

  display: absolute;
  z-index: 1000;
}

/* Product Styles  (components/Products/Slider) */

.slider-container {
  display: block;
}

.slider-container .thumbnails {
  display: flex;

  margin: 20px 0;
  gap: 20px;
  flex-wrap: wrap;
}
.mb-20{
  margin-bottom: 20px ;
}
.slider-image {
  max-width: auto;
  min-width: 500px;
  object-fit: contain;
}

/* */

.privacy-lorem-ips > um {
  padding-inline: 30px;
  width: 450px;
}

.show {
  display: block;
}

.dynamic-content {
  width: 100%;
}

.shop-product-item {
  cursor: pointer;
  user-select: none;
}

.product-context-menu {
  display: block;
}

/* */
.input-error {
  display: inline-block;
}

.subtotal-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Flex Classes New */

.flex-2{
  display: flex;
}

.flex-gap-20 {
  gap: 20px;
}

.flex-gap-10 {
  gap: 10px;
}

/* .banner-2{
  height: fit-content;
}

.banner-2 > .back-img {
  object-fit: contain;
} */

.position-relative{
  position: relative;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-align-center{
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 > * {
  flex: 1;
}

.flex-grow-1{
  flex-grow: 1;
}

.w-max-content{
  width: max-content;
}

.width-100 {
  width: 100%;
}

/* Margins */

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-40 {
  margin-left: 40px;
}

.success {
  color: var(--primary);
}

.spacer-10{
  height: 10px;
}

.spacer-20{
  height: 20px;
}

.spacer-40{
  height: 40px;
}

.spacer-60 {
  height: 60px;
}

.vspacer-10{
  width: 10px;
}

.vspacer-20{
  width: 20px;
}

.vspacer-40{
  width: 30px;
}

.vspacer-60{
  width: 40px;
}

.input-x-edit {
  height: 48px;
  margin-bottom: 0px;
  padding-right: 15px;
  padding-left: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  /* box-shadow: inset 0 0 0 1.5px #5e5855; */
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #5e5855;
  font-size: 0.875rem;
  line-height: 1.4;
}
.product-add-block-bank {
  position: relative;
  margin-bottom: 20px;
  padding: 40px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e7e7e7;
}
.pricing-item :hover{
cursor: pointer;
}
.add-shop-img-edit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  width: 120px;
  height: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0;
  cursor: pointer;
}