a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.cursor {
  cursor: pointer;
}

.checkbox-error {
  border-color: var(--input-error);
  color: var(--input-error);
}

.remove-border {
  border: 0;
}

.popup-wrapper {
  display: initial;
  overflow-y: scroll;
}

.popup-wrapper.sign-in {
  display: initial;
  opacity: 1;
}

.popup-wrapper.register {
  display: initial;
  opacity: 1;
}

.button {
  cursor: pointer;
}

.hidden-input {
  display: none;
}

.tabs-menu {
  cursor: pointer;
}

select {
  appearance: none;
  background-image: url("/icons/arrow-down.svg");
  background-position-x: 94%;
  background-position-y: 45%;

  background-repeat: no-repeat;
}

.tab-link-shop,
.nav-link-shop {
  cursor: pointer;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 0;

  display: absolute;
  z-index: 1000;
}

/* Product Styles  (components/Products/Slider) */

.slider-container {
  display: block;
}

.slider-container .thumbnails {
  display: flex;

  margin: 20px 0;
  gap: 20px;
  flex-wrap: wrap;
}

.slider-image {
  max-width: auto;
  min-width: 500px;
  object-fit: contain;
}

/* */

.privacy-lorem-ips > um {
  padding-inline: 30px;
  width: 450px;
}

.show {
  display: block;
}

.dynamic-content {
  width: 100%;
}

.shop-product-item {
  cursor: pointer;
  user-select: none;
}

.product-context-menu {
  display: block;
}

/* */
.input-error {
  display: inline-block;
}

.subtotal-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Flex Classes New */

.flex-2{
  display: flex;
}

.flex-gap-20 {
  gap: 20px;
}

.flex-gap-10 {
  gap: 10px;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 > * {
  flex: 1;
}

.width-100 {
  width: 100%;
}

/* Margins */

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-40 {
  margin-left: 40px;
}

.success {
  color: var(--primary);
}

.spacer-10{
  height: 10px;
}

.spacer-20{
  height: 20px;
}

.spacer-40{
  height: 40px;
}

.spacer-60 {
  height: 60px;
}