.shop-content-mobile {
    overflow: hidden;
    padding-top: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    height: 100%;
    -ms-flex: 1;
    flex: 1;
  }
  .flex-mobile{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .flex-order{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
@media screen and (max-width: 991px){
    /* .settings-nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding-bottom: 10px;
      } */
      .settings-nav {
        /* display: flex; */
        flex-direction: column;
        margin-bottom: 20px;
        /* padding-bottom: 10px; */
        background: gainsboro;
        width: 100%;
        margin-top: 20px;
        padding: 20px;
    }
      .settings-link {
        font-size: 1rem;
        line-height: 2em;
      }
      .heading-wrapper {
        max-width: 100%;
        margin-right: 10px;
    }
    
    .questionnaire-progress {
        margin-bottom: 40px;
        flex-direction: column;
        align-items: start;
        padding-left: 36px;
    } 
    .questionnaire-step {
        margin-bottom: 2rem;
        padding: 10px;
        font-size: small;
    }
    .assessment-radios {
        flex-direction: column;
    }
    .checkbox-field.mb-0 {
        margin-bottom: 0.6rem;
    }
    .progress-bar {
        height: 50px;
        margin-top: 20px;
        background-color: #003c6e;
        color: #fff;
    }
    .pricing-plan-wrapper {
        flex-direction: column;
        margin-bottom: 30px;
        justify-content: flex-start;
    }
    .pricing-item {
        padding: 40px 40px 40px;
        margin: 30px auto;
        width: 80%;
    }
      .nav-menu-mobile {
        position: fixed;
        left: 0%;
        top: 151px;
        right: 0%;
        bottom: 0%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: auto;
        padding: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        background-color: #fff;
        -webkit-transform: translate(100%, 0px);
        -ms-transform: translate(100%, 0px);
        transform: translate(100%, 0px);
        -webkit-transition: -webkit-transform 200ms cubic-bezier(.165, .84, .44, 1);
        transition: -webkit-transform 200ms cubic-bezier(.165, .84, .44, 1);
        transition: transform 200ms cubic-bezier(.165, .84, .44, 1);
        transition: transform 200ms cubic-bezier(.165, .84, .44, 1), -webkit-transform 200ms cubic-bezier(.165, .84, .44, 1);
      }
}
@media screen and (max-width: 767px) {
    .account-form-1 {
        display: flex;
        flex-direction: column;
    }
    .input-x {
        margin-bottom: 0.75rem;
    }
    .headline-2 {
        margin-top: 50px;
    }
    .order-card-content {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        align-items: center;
    }
}
@media screen and (max-width: 479px) {
    .headline-2 {
        margin-top: 50px;
    }
    .account-form-1 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .delivery-cost {
        display: -ms-grid;
        display: grid;
        margin-bottom: 15px;
        align-items: center;
        grid-auto-columns: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        -ms-grid-columns: 2fr minmax(150px, 1fr) 2fr;
        grid-template-columns: 2fr minmax(150px, 1fr) 2fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    }
    .assessments {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .business-plan {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .billing-details {
        margin-bottom: 20px;
    }
    .delete-account {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .fafXDI {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
    }
    .account-form-2 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .account-current-data {
       
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
      
    }
    .backend_shop-main-ctr__3uS8m .backend_right-ctr__25cOy {
        padding-inline: 0;
    }
    .headline-1 {
        margin-top: 100px;
    }
    .headline-1.overlap-right {
        margin-right: 0;
    }
    .settings-block {
        padding: 10px;
    }
    /* .fHGJGT .left-container .image-container {
        right: -60px;
       
        display: block;
        position: relative;
        top: 100px;
    } */
    .shop-content {
        margin-top: 120px;
    }
    .brand-wrapper {
        /* flex-basis: 145px; */
        /* width: 100%; */
        /* display: flex; */
        /* text-align: center; */
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    /* .right-icon-nav {
        justify-content: space-between;
    } */
    .right-icon-nav {
        justify-content: flex-end;
        align-items: baseline;
    }
    .page-section.banner > img {
        height: 400px;
        -webkit-object-fit: cover;
        object-fit: fill;
    }
    .page-section.banner {
        height: 400px;
    }
    .container {
        /* padding-right: 20px; */
        padding-left: 10px;
    }
    .container.narrow-container {
        width: 100%;
        margin-left: 0px;
        padding-left: 20px;
    }
    .flex-container-more-products {
        display: grid;
        grid-row-gap: 50px;
        grid-template-columns: 1fr;
        margin-right: 15px;
        /* height: 400px; */
    }
    .page-section {
        border-bottom: 0;
    }
    /* .flex-child-32 { */
        /* flex-basis: 100%; */
        /* margin: 62px 0; */
    /* } */
    .scroll-x {
        display: flex;
        overflow: auto;
        flex-direction: column;
        white-space: nowrap;
    }
    .flex {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        /* flex-wrap: wrap;
        align-items: baseline; */
    }
    .checkout-shop-item-img > img{
     height: 100px;
    }
    .checkout-additional {
        align-self: self-start;
    }
    .about-content-wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .our-promise-wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .page-section.about {
        padding-top: 50px;
        height: fit-content;
    }
    .impact-swiper-nav{
        display: none;
    }
    .impact-swiper-mask {
        width: 100%;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }
    .impact-swiper-slide._2 {
        flex-direction: column;
    }
    .flex-mobile{
        flex-direction: column;
    }
    .flex-order {
        display: block;
        /* flex-direction: column; */
        /* flex: 5; */
    }
    .greyborder.pd40 {
        width: 100%;
        margin-right: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 10px;
    }
    .dynamic-content {
        margin-top: 120px;
    }
    .heading-wrapper h2 {
        padding-left: 10px;
    }
    .secondarywithimage.blue.secondaryflex {
        width: 100%;
    }
    .button.blue.lowercase.flexbutton {
        width: 100%;
    }
    .no-select {
        margin: 10px;
        height: 300px;
    }
    .shop-filter-bar {
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 10px;
    }
    
    /* .fHGJGT .left-container .edit-logo-button {
        display: block;
        position: absolute;
        top: 220px;
        left: -50px;
    } */

    /* .input-x {
        height: 1rem;
    } */
} 
