.shop-main-ctr {
  display: flex;
  align-items: top;

  .side-ctr {
    width: 324px;
    padding-left: 36px;
  }

  .right-ctr {
    flex: 1;
    padding-inline: 36px;
    display: flex;
    @media screen and (max-width: 479px) {
      padding-inline: 0;
  }
}
}

.delivery-ctr {
  .input-ctr {
    border: 1px solid #e7e7e7;
    padding: 1em 1.2em;

    .weight-input-ctr {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;

      .weight-category {
        width: 70px;
      }
    }
  }
}

.shipping-add-ctr {
  display: flex;
  padding: 1.5rem 1rem;

  justify-content: space-between;

  .action-buttons {
    display: flex;
    gap: 25px;
  }
}

.ship-options {
  display: flex;

  align-items: center;
  gap: 25px;
  flex-wrap: no-wrap;

  .ship-checkbox {
    width: 250px;

    > * {
      width: 100%;
    }
  }

  .ship-input {
    width: 70px;
  }
}
